<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex border-b items-center justify-between  py-[2vw] px-[2vw]  mt-[1.3vw]" id="nav">
        <a class="text-2xl font-bold" href="">Note app</a>
        <div class="flex gap-3">
          <a href="/" class="text-2xl">Home</a>
          <a href="/newnote" class="text-2xl">New Note</a>
        </div>
    </div>
   <form action="/new-created/<%= title %>" method="get" class="flex items-center justify-center" >
    <div class="bg-white p-8  mt-10 shadow-md w-96">
        <h2 class="text-xl font-semibold mb-4">Edit Your Note</h2>
        <form action="/created" method="GET">
          <div class="mb-4">
            <label for="noteName" class="block text-gray-700">Edit Note Name</label>
            <input type="text" id="noteName"  name="title" placeholder='Enter Your Note Title'
              class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:ring-blue-200"
              placeholder="Enter Note Name"  value="<%=  title %>" required>
          </div>
          <div class="mb-4">
            <label for="noteDetails" class="block text-gray-700"> Edit Note Details</label>
            <textarea  id="noteDetails" name="details" rows="4"
              class="mt-1  resize-none block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring focus:ring-blue-200"
           placeholder="Enter Note Details"   required><%= data  %></textarea>
          </div>
          <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600"> Edit note</button>
        </form>
      </div>
    </form>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>